<div @click="click" @mouseover="mouseOver" @mouseleave="mouseLeave" class="preview-card-container"
    :style="{ 
        cursor: !oneSided ? 'pointer' : null
    }">
    <div class="animated preview-card-front" :style="{
        width: styleWidth,
        height: styleHeight
        }" v-if="isFrontVisible" :transition="transition">
        <slot name="front" style="{
            width: styleWidth,
            heigh: styleHeight
        }"></slot>
    </div>
    <div class="animated preview-card-back" :style="{
        width: styleWidth,
        height: styleHeight,
        position: 'relative'
        }" v-if="!isFrontVisible" :transition="transition">
        <summary :width.sync="styleWidth" :height.sync="styleHeight">
            <slot name="back" slot="content"></slot>
        </summary>
    </div>
</div>