<div @click="click" @mouseover="mouseOver" @mouseleave="mouseLeave" class="preview-card-container">
    <div class="animated preview-card-front" :style="{
        width: width,
        height: height
        }" v-if="isFrontVisible" :transition="transition">
        <slot name="front" style="{
            width: width,
            heigh: height
        }"></slot>
    </div>
    <div class="animated preview-card-back" :style="{
        width: width,
        height: height,
        position: 'relative'
        }" v-if="!isFrontVisible" :transition="transition">
        <summary :width.sync="width" :height.sync="height">
            <slot name="back" slot="content"></slot>
        </summary>
    </div>
</div>