
.summary-mask {
    background-color: rgba(238, 238, 238, 0.89);
    height: 40px;
}



.summary-btn {  
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #ed952b;
    text-decoration: none;
    border-width: 1px;
    padding-bottom: 4px;
}